<dashboard style="text-align:center; display:block">
  <h1>Webregator</h1>
  <input type="text" ng-model="example" style="width: 25vw;" autofocus>
  <button type="button" name="button">SUBMIT URL</button>
  <dynamic-text ng-bind="example"></dynamic-text>
  <webmark-list></webmark-list>
</dashboard>
