<web-mark ng-repeat="wm in $wmlt.webmarks">
  <site-name ng-bind="wm.url"></site-name>
  <button type="button" name="button">Delete</button>
  <button type="button" name="button">View</button>
</web-mark>
