<form name="webmark">
  <input type="url" name="url_input" ng-model="url.input" style="width: 25vw;" autofocus required>
  <button type="button" name="button" ng-click="$wmfm.urlGet(webmark)">SUBMIT URL</button>
</form>
<dynamic-text ng-bind="url.input"></dynamic-text>
<div class="error" ng-hide="webmark.url_input.$valid">
  <span class="error" ng-show="webmark.url_input.$error.required">
    Enter a link</span>
  <span class="error" ng-show="webmark.url_input.$error.url">
    Enter a valid link (example: https://medium.com/javascript-scene/how-to-turn-a-job-opening-into-a-dream-job-for-top-talent-14b63f03146d)</span>
</div>

<webmark-dialog ng-hide="!webformDialog">
  <dialog-head>
    <h1 id="site-url">{{url.input | limitTo: 40}}
      <span ng-if="url.input.length >= 40">...</span>
    </h1>
    <button id="cancel" type="button" name="button" ng-click="$wmfm.cancel(url.input)">CANCEL</button>
  </dialog-head>

  <url-content>
    <h3 ng-repeat="element in $wmfm.loaded.htags" ng-bind="element.content">
    </h3>
    <p ng-repeat="element in $wmfm.loaded.atags">
      <a ng-href="{{element.a_link}}" ng-bind="element.a_link" target="_blank">
      </a>
    </p>
  </url-content>
  <dialog-save>
    <button id="save" type="button" name="button">SAVE URL</button>
  </dialog-save>
</webmark-dialog>
